#!/bin/sh
SECRET=$(docker run --rm \
-e METHOD=$1 \
-e REGISTRY=$(cat -) \
{% if image_digest is defined %}
    {{ image_name }}@{{ image_digest }})
{% else %}
    {{ image_name }}:{{ image_version }})
{% endif %}
echo $SECRET | grep Secret
